@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.meeting.less";
@import "site.membership.less";
@import "site.northwind.less";
@import "site.organization.less";
@import "site.portal.less";
@import "site.contratos.less";
@import "site.recepcion.less";

.s-Reservas-ReservasContratosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Reservas-ReservasDescuentosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Reservas-ReservasHuespedesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Reservas-ReservasOfertasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-reservas-ReservasServiciosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}