@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.basicsamples.less";
@import "site.meeting.less";
@import "site.membership.less";
@import "site.northwind.less";
@import "site.organization.less";


.s-Portal-FormasDePagoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-MonedasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-NacionesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-ComunidadesAutonomasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-ProvinciasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-EmpresasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-CategoriaHotelesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposHabitacionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposHotelDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-NacionesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-HotelesDialog {
    > .size { width: 650px; height: 550px; }
    .caption { width: 150px; }
    .s-PropertyGrid .categories { height: 500px; }
}

.s-Portal-GruposDeClienteDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-GruposDeServiciosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-GruposHabitacionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-UsuariosEmpresaDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-UsuariosEmpresaDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposHuespedDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposServicioDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposUnidadCalculoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-ServiciosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-UnidadesCalculoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-ServiciosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposHuespedDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposPensionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-EstadosFacturasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-ReservaEstadosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposDocumentoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-TiposPensionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-TipoAplicacionOfertaDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-TiposDeImputacionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-TiposDeOfertaDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-AmbitoOfertaDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-ClientesDialog {
    > .size { width: 650px; height: 550px; }
    .caption { width: 150px; }
    .s-PropertyGrid .categories { height: 400px; }
}

.s-Contratos-GruposDeClienteDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-GruposDeClienteDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-FrecuenciaFacturacionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-TiposCondicionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-TiposDeImputacionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Contratos-LineasDeContratoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-GruposDeClienteDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-GruposDeClienteDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Portal-GruposDeClienteDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}