@import "site.mixins.less";

.s-Recepcion-ReservasDialog {
    > .size { min-width: 950px; height: 650px; }
    .caption { width: 150px; }
    @media (min-width: 900px) {
    .field.EmpresaId,
    .field.HotelId, .field.EstadoReservaId, .field.ClienteId, .field.ClienteIdFactura,
    .field.NombreReserva, .field.TipoHabitacionId, .field.PensionId, 
    .field.Adultos, .field.Child50, .field.ChildFree, .field.Bebes,
    .field.BonoReferencia, .field.BonoOnline, .field.CanalReservaId, 
    .field.Valor, .field.CodigoOferta, .field.BloquearTarifa, .field.PermiteDevolucion, .field.Vip,
    .field.FechaReserva, .field.FechaCreacion, .field.FechaPrevistaLlegada, .field.FechaPrevistaSalida,
    .field.FechaLlegada, .field.FechaSalida, .field.ObservacionesLlegada, .field.ObservacionesSalida,
    .field.Observaciones, .field.ObservacionesCliente,
    .field.TipoTarjetaId, .field.TarjetaCredito, .field.Caducidad, .field.CodSeguridad  {
            max-width: 50%;
        }
    } 
}

.s-Recepcion-ReservasContratosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-ReservasDescuentosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-ReservasHuespedesDialog {
    > .size { min-width: 700px; }
    .caption { width: 150px; }
    @media (min-width: 800px) {
    .field.EmpresaId, .field.ReservaId, .field.Nombre, .field.Apellidos, .field.TipoDocumentoId,
    .field.Nif, .field.FechaDocumento, .field.SexoId, .field.FechaNacimiento, .field.Direccion, .field.Poblacion, .field.Zip ,.field.NacionId,
    .field.ProvinciaId, .field.Telefono, .field.FechaLlegada, .field.FechaSalida, .field.HabitacionId
        {
            max-width: 50%;
        }
    } 

}

.s-Recepcion-ReservasOfertasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-ReservasServiciosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-ReservasHabitacionesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-HabitacionesRDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-HabitacionesBloqueosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-HuespedesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Recepcion-ReservasGrid {
    .anulada .slick-cell, .anulada .slick-cell a {
        color: lightgray;
    }
    .facturada .slick-cell, .facturada .slick-cell a {
        color: gray;
    }

    .con-errores .slick-cell, .con-errores .slick-cell a {
        background-color: #ffaaaa;
        color: black;
    }

    .checked-in .slick-cell, .checked-in .slick-cell a {
        background-color: lightgreen;
    }

    .pendiente .slick-cell, .pendiente .slick-cell a {
        background-color: orange;
    }

    .no-show {
        background-color: #ffd5c0;

    .slick-cell, .slick-cell a {
        color: black;
        }
    }
    
    .discontinued .slick-cell, .discontinued .slick-cell a {
        color: lightgray;
    }

    .out-of-stock .slick-cell, .out-of-stock .slick-cell a {
        background-color: #ffaaaa;
        color: red;
    }

    .critical-stock {
        background-color: #ffd5c0;

        .slick-cell, .slick-cell a {
            color: black;
        }
    }

    .much-stock {

        .slick-cell, .slick-cell a {
            font-style: italic;
        }
    }

    .high-price .col-unit-price {
        background-color: darkorchid;
        color: #fff;
    }

    .medium-price .col-unit-price {
        background-color: yellow;
        color: #000;
    }

    .low-price .col-unit-price {
        background-color: green;
        color: #fff;
    }
}

.s-Recepcion-ReservasExtrasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}