Geshotel/Geshotel.Web/bin/
.vs/
Geshotel/Geshotel.Web/obj/
Geshotel/Geshotel.Web/Scripts/site/Geshotel.Web.js.map
Geshotel/Geshotel.Web/node_modules/
Geshotel/Geshotel.Web/Geshotel.Web.csproj.user
packages/
*.bak
*.orig
Geshotel/Geshotel.Web/Geshotel.Web.csproj.user
