Geshotel/Geshotel.Web/bin/
.vs/
Geshotel/Geshotel.Web/obj/
Geshotel/Geshotel.Web/Scripts/site/Geshotel.Web.js.map
Geshotel/Geshotel.Web/node_modules/
Geshotel/Geshotel.Web/Geshotel.Web.csproj.user
packages/
*.bak
*.orig
Geshotel/Geshotel.Web/Geshotel.Web.csproj.user
Geshotel/Geshotel.Web/App_Data/Geshotel_Northwind_v1.ldf
Geshotel/Geshotel.Web/App_Data/Geshotel_Northwind_v1.mdf
Geshotel/Geshotel.Web/App_Data/GeshotelDB.ldf
Geshotel/Geshotel.Web/App_Data/GeshotelDB.mdf
Geshotel/Geshotel.Web/App_Data/Geshotel_Northwind.ldf
Geshotel/Geshotel.Web/App_Data/Geshotel_Northwind.mdf

ClasesGeshotel/bin/Debug/
ClasesGeshotel/bin/Release/
ClasesGeshotel/obj/
