{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Server=localhost; Port=3306; Database=default;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "default.usuarios_empresa",
                    "Identifier": "UsuariosEmpresa",
                    "Module": "Portal",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Geshotel",
            "ConnectionString": "Server=localhost; Port=3306; Database=geshotel;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "geshotel.categoria_hoteles",
                    "Identifier": "CategoriaHoteles",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_hotel",
                    "Identifier": "TiposHotel",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_habitacion",
                    "Identifier": "TiposHabitacion",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.hoteles",
                    "Identifier": "Hoteles",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.grupos_de_cliente",
                    "Identifier": "GruposDeCliente",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.grupos_de_servicios",
                    "Identifier": "GruposDeServicios",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.grupos_habitacion",
                    "Identifier": "GruposHabitacion",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_unidad_calculo",
                    "Identifier": "TiposUnidadCalculo",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_servicio",
                    "Identifier": "TiposServicio",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_huesped",
                    "Identifier": "TiposHuesped",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.servicios",
                    "Identifier": "Servicios",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.unidades_calculo",
                    "Identifier": "UnidadesCalculo",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.conceptos_acelerador_reservas",
                    "Identifier": "ConceptosAceleradorReservas",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.acelerador_reservas",
                    "Identifier": "Acelerador",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_pension",
                    "Identifier": "TiposPension",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.tipos_documento",
                    "Identifier": "TiposDocumento",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.sexos",
                    "Identifier": "Sexos",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.estados_facturas",
                    "Identifier": "EstadosFacturas",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.reserva_estados",
                    "Identifier": "ReservaEstados",
                    "Module": "Portal",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "geshotel.clientes",
                    "Identifier": "Clientes",
                    "Module": "Geshotel",
                    "ConnectionKey": "Geshotel",
                    "PermissionKey": "Administration:General"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Server=localhost; Port=3306; Database=Northwind;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Portal",
            "ConnectionString": "Server=localhost; Port=3306; Database=portal;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "portal.monedas",
                    "Identifier": "Monedas",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.formas_de_pago",
                    "Identifier": "FormasDePago",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.naciones",
                    "Identifier": "Naciones",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.comunidades_autonomas",
                    "Identifier": "ComunidadesAutonomas",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.empresas",
                    "Identifier": "Empresas",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.provincias",
                    "Identifier": "Provincias",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.usuarios_empresa",
                    "Identifier": "UsuariosEmpresa",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Geshotel\\Geshotel.Web\\Geshotel.Web.csproj",
    "RootNamespace": "Geshotel",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}