{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Server=localhost; Port=3306; Database=GeshotelDB;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "habitaciones",
                    "Identifier": "Habitaciones",
                    "Module": "Contratos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Contratos:Empresa"
                },
                {
                    "Tablename": "dbo.habitaciones",
                    "Identifier": "Habitaciones",
                    "Module": "Contratos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Contratos:Empresa"
                },
                {
                    "Tablename": "dbo.habitaciones_bloqueos",
                    "Identifier": "HabitacionesBloqueos",
                    "Module": "Recepcion",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Recepcion:Hotel"
                },
                {
                    "Tablename": "dbo.huespedes",
                    "Identifier": "Huespedes",
                    "Module": "Recepcion",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Recepcion:Hotel"
                },
                {
                    "Tablename": "dbo.contadores",
                    "Identifier": "Contadores",
                    "Module": "Contratos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Contratos:Empresa"
                },
                {
                    "Tablename": "dbo.cajas",
                    "Identifier": "Cajas",
                    "Module": "Contratos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Contratos:empresa"
                },
                {
                    "Tablename": "dbo.series",
                    "Identifier": "Series",
                    "Module": "Contratos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Contratos:Empresa"
                },
                {
                    "Tablename": "lineas_factura",
                    "Identifier": "LineasFactura",
                    "Module": "Contratos",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Recepcion:Hotel"
                }
            ]
        },
        {
            "Key": "Geshotel",
            "ConnectionString": "Server=localhost; Port=3306; Database=geshotel;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Server=localhost; Port=3306; Database=Geshotel_Northwind;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Portal",
            "ConnectionString": "Server=localhost; Port=3306; Database=portal;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "portal.monedas",
                    "Identifier": "Monedas",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.formas_de_pago",
                    "Identifier": "FormasDePago",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Geshotel\\Geshotel.Web\\Geshotel.Web.csproj",
    "RootNamespace": "Geshotel",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}