{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Server=localhost; Port=3306; Database=GeshotelDB;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Geshotel",
            "ConnectionString": "Server=localhost; Port=3306; Database=geshotel;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Server=localhost; Port=3306; Database=Geshotel_Northwind;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": []
        },
        {
            "Key": "Portal",
            "ConnectionString": "Server=localhost; Port=3306; Database=portal;user id=root;password=Admin_local",
            "ProviderName": "Mysql.Data.MySqlClient",
            "Tables": [
                {
                    "Tablename": "portal.monedas",
                    "Identifier": "Monedas",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "portal.formas_de_pago",
                    "Identifier": "FormasDePago",
                    "Module": "Portal",
                    "ConnectionKey": "Portal",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Geshotel\\Geshotel.Web\\Geshotel.Web.csproj",
    "RootNamespace": "Geshotel",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": false,
    "GenerateColumn": false,
    "GenerateForm": false,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": false,
    "GenerateDialog": false,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}