
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Portal.HabitacionesSituacion.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Geshotel.Portal.HabitacionesSituacionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>