
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Portal.GruposDeCliente.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Geshotel.Portal.GruposDeClienteGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>