
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Portal.TiposHotel.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Geshotel.Portal.TiposHotelGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>