
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Recepcion.ReservasExtras.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Geshotel.Recepcion.ReservasExtrasGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>