
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Contratos.Releases.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Geshotel.Contratos.ReleasesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>