@using System.ServiceModel
@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Events.Scheduler
@using Data;
@using System.Data;
@{
    ViewBag.Title = "Scheduler";
}
<script src="@Url.Content("~/Scripts/daypilot-all.min.js")" type="text/javascript"></script>
<style type="text/css">
    .scheduler_default_rowheader_inner {
        border-right: 1px solid #ccc;
    }

    .scheduler_default_rowheadercol2 {
        background: White;
    }

        .scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
            top: 2px;
            bottom: 2px;
            left: 2px;
            background-color: transparent;
            border-left: 5px solid #1a9d13; /* green */
            border-right: 0px none;
        }

    .status_dirty.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
        border-left: 5px solid #ea3624; /* red */
    }

    .status_cleanup.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
        border-left: 5px solid #f9ba25; /* orange */
    }
    .status_none.scheduler_default_rowheader .scheduler_default_rowheader_inner {
        background: Yellow;  
        border-left: 0px solid Yellow; /* red */ 
        font-weight: bold; 
    }
</style>

<div style="margin-bottom: 20px;">
    @{
        var LanguageCookie = Request.Cookies["LanguagePreference"];
        var titulo = "Tipo Habitación:";
        var sel0 = "Todas";
        var sel1 = "Sencilla";
        var sel2 = "Doble";
        var sel3 = "Triple";
        var sel4 = "Familiar";
        var head1 = "Habitacion";
        var head2 = "Tipo";
        var head3 = "Tamaño";
        var head4 = "Estado";
        if (LanguageCookie.Value != "es")
        {
            titulo = "Room Type";
            sel0 = "All";
            sel1 = "Single";
            sel2 = "Double";
            sel3 = "Triple";
            sel4 = "Familiar";
            head1 = "Room";
            head2 = "Type";
            head3 = "Size";
            head4 = "Status";
        }
    }
    
   
    Hotel:
    @Html.DropDownList("hotel_id", 
    new SelectList(Db.SelectHoteles().AsDataView(), "hotel_id", "hotel"), 
    new { @onchange = "filter('hotel_id', this.value)" }) 
    
    @titulo
    @Html.DropDownList("Filter", new SelectListItem[]
        {
            new SelectListItem() { Text = @sel0, Value = "0" },
            new SelectListItem() { Text = @sel1, Value = "1" },
            new SelectListItem() { Text = @sel2, Value = "2" },
            new SelectListItem() { Text = @sel3, Value = "3" },
            new SelectListItem() { Text = @sel4, Value = "4" },
        },
        new { @onchange = "filter('room', this.value)" })
</div>


@Html.DayPilotScheduler("dp", new DayPilotSchedulerConfig
{
    BackendUrl = Url.Action("Backend", "Scheduler"),
    Scale = TimeScale.Manual,
    // *****************************************************************
    // Added by Javier On 10/03/2017
    // Scroll vertical y horizontal
    // Pendiente de ver un tema bootstrap para que funcione en tabletas
    // *****************************************************************
    EventHeight = 35,
    Height = 800,
    HeightSpec = DayPilot.Web.Mvc.Enums.Scheduler.HeightSpec.Max,
    // *****************************************************************
    
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "create(start, end, resource);",
    TimeRangeSelectingJavaScript = "selecting(args)",

    EventClickHandling = EventClickHandlingType.JavaScript,
    EventClickJavaScript = "edit(e);",

    EventMoveHandling = EventMoveHandlingType.CallBack,
    EventResizeHandling = EventResizeHandlingType.CallBack,

    TimeHeaders = new TimeHeaderCollection()
    {
        new TimeHeader(GroupBy.Month),
        new TimeHeader(GroupBy.Day)
    },

    HeaderColumns = new RowHeaderColumnCollection()
    {   
        new RowHeaderColumn(@head1, 80),
        new RowHeaderColumn(@head2,80),
        new RowHeaderColumn(@head3, 80),
        new RowHeaderColumn(@head4, 80)
    }
})

<script>
    function modal() {
        var m = new DayPilot.Modal();
        m.closed = function () {
            dp.clearSelection();
            var data = this.result;
            if (data == "OK") {
                dp.commandCallBack("refresh");
            }

        };
        return m;
    }

    function create(start, end, resource) {
////        x = new Geshotel.Recepcion.ReservasDialog().loadEntityAndOpenDialog(<Recepcion.ReservasRow>{
//            FechaPrevistaLlegada: start,
//            FechaPrevistaSalida: end
        //        });
        x = new Geshotel.Recepcion.ReservasDialog().loadEntityAndOpenDialog();
        dp.commandCallBack("refresh");
    }
    function edit(e) {
        x = new Geshotel.Recepcion.ReservasDialog().loadByIdAndOpenDialog(e.id());
        dp.commandCallBack("refresh"); 
        
    }

    function filter(property, value) {
        if (!dp.clientState.filter) {
            dp.clientState.filter = {};
        }
        if (dp.clientState.filter[property] != value) { // only refresh when the value has changed
            dp.clientState.filter[property] = value;
            dp.commandCallBack('filter');
        }
    }

    function selecting(args) {
        var duration = Math.floor(new DayPilot.TimeSpan(args.end.getTime() - args.start.getTime()).totalDays());
        var s = duration > 1 ? "s" : "";

        args.left.enabled = true;
        args.left.html = "Start:<br/>" + args.start.toString("M/d/yyyy");
        args.right.enabled = true;
        args.right.html = "End:<br/>" + args.end.toString("M/d/yyyy") + "<br/>" + duration + " night" + s;
    }

</script>
<div>
    <p><strong>Códigos de colores en Reservas:</strong></p>
    <ul style="list-style-type:none;margin:0;padding:0;display:flex;flex-direction:row;">

        <li style="flex-grow: 1;display:block;padding:1em;background-color:Red;text-align:center;margin-right:0.2em;text-decoration:none;color:white;">Con Errores</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:lightskyblue;text-align:center;margin-right:0.2em;text-decoration:none;color:black;">Pendiente Entrar</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:orange;text-align:center;margin-right:0.2em;text-decoration:none;color:black;">Entrada Hoy</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:limegreen;text-align:center;margin-right:0.2em;text-decoration:none;color:white;">Check In</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:yellow;text-align:center;margin-right:0.2em;text-decoration:none;color:black;">Salida Hoy</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:blueviolet;text-align:center;margin-right:0.2em;text-decoration:none;color:white;">Late Check Out</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:blue;text-align:center;margin-right:0.2em;text-decoration:none;color:white;">Checked Out</a></li>

        <li style="flex-grow: 1;display:block;padding:1em;background-color:black;text-align:center;margin-right:0.2em;text-decoration:none;color:white;">No Show</li>

    </ul>
</div>